
#navigation {
    background-color: #f5f5f5;
}

#content {
    overflow-y:scroll;
}

#footer {
    background-color: #f5f5f5;
}

.gap {
    margin-top:10px
}
.gridStyle {
    border: none;
    height: 50%;
    border: 0px solid rgb(212,212,212);
    background: #ffffff;

}

/*
.nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline;
    zoom:1;
}



.nav-pills {
    text-align:center;
}*/

.ngRow.even {
    background-color: #ffffff;
}
.ngRow.odd {
    background-color: #ffffff;
}

.ngRow.selected {
    background-color: #eeeeff;
}

.ngTopPanel {

    background-color: #c8520a;
    color: #ffffff;
}

.axis > path {
    fill: none;
    stroke: rgb(212,212,212);
    stroke-width: 1px;
}

.axis {
    font-weight: bold
}

.bars > rect {
     fill: rgba(255, 169, 8, 0.900);
 }

.bars > polygon{
    fill: rgba(255, 169, 8, 0.900);
    stroke-width: 0px;
}

.bars > .isActive {
    fill: #c8520a;
}
