
#navigation {
    background-color: #f5f5f5;
}

#content {
    overflow-y:scroll;
}

#footer {
    background-color: #f5f5f5;
}

.gridStyle {
    border: none;
    height: 100%;
    margin-top:10px
}

.row {
}
